<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./assets/styles.css" />
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>Welcome</h1>
    <p>Good website</p>
  </body>
</html>